<ion-view name="pilot-my-profile-view" view-title="{{ 'review_label' | translate }}">

  <ion-nav-bar class="bar-dark-light">
    <ion-nav-buttons side="left">
      <a href="{{backURL}}" class="button button-clear">
        <span class="search">
        <i class="icon ion-chevron-left small"></i> {{ 'back_label' | translate }}
      </span>
      </a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button ng-show="showCancelEdit" ng-click="cancelEdit()" class="button-cancel-edit">
          <span translate="cancel_label"></span>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content padding="true">
    <div ng-if="activateLanguages" style="position: absolute; left: 1.2em; top: 1em; display: flex;">
      <button-lang-en ng-click="changeLanguage('en')"></button-lang-en>
      <button-lang-sp ng-click="changeLanguage('sp')" style="margin-left: 20px"></button-lang-zh>
    </div>
    <div class="pilot-profile" style="margin-top: 35px">

      <div class="avatar" style="background-image: url({{user.avatar}})">
      </div>

      <div class="row">
        <div class="center">
          <h4>{{ user.name + ' ' + user.last_name }}</h4>
        </div>
      </div>
      <hr>
      <div class="card">
        <div class="item item-text-wrap" translate="review_info"></div>
      </div>
      <!-- <p><strong class="down" ng-click="goDown()">{{ 'position_label' | translate }}:</strong> {{Mechanic.profile.position}}</p> -->
      <p><strong>{{ 'birthday_label' | translate }}:</strong> {{ Mechanic.profile.date_of_birth | date:'MMMM dd, yyyy' }}</p>
      <p><strong>{{ 'nationality_label' | translate }}:</strong> {{ Mechanic.profile.nationality_id | objectById:'countries' | translate }}</p>
      <p ng-repeat="x in Mechanic.language_proficiencies_attributes" ng-if="!x._destroy">
        <strong>{{ 'language_label' | translate }}</strong> {{ x.language_id | objectById: 'languages' | translate }}<br>
        <strong>{{'lang_level_label' | translate}}:</strong> {{ x.level === 7 ? "native_lang_option" : x.level | translate }}
      </p>
      <p ng-show="Mechanic.profile.phone"><strong>{{ 'contact_phone' | translate }}:</strong> {{ Mechanic.profile.phone }}</p>
      <p ng-show="Mechanic.profile.skype"><strong>{{ 'skype_label' | translate }}:</strong> {{Mechanic.profile.skype}}</p>
      <p ng-show="Mechanic.profile.cv_url"><strong>{{ 'cv_url_label' | translate }}:</strong> {{Mechanic.profile.cv_url}}</p>

      <ion-list>

        <ion-item class="item-stable" ng-click="toggleGroup(showPositions,'showPositions')" ng-class="{active: showPositions}">
            <i class="icon" ng-class="showPositions ? 'ion-minus' : 'ion-plus'"></i> &nbsp; Positions
        </ion-item>

        <div class="item-accordion" ng-show="showPositions">
          <div ng-repeat="x in Mechanic.crew_member_positions_attributes" ng-show="!x._destroy">
            <p ng-show="showPositions || Mechanic.crew_member_positions_attributes > 0">
              <strong>{{ 'position_label' | translate }}: </strong> {{ x.position }} <br>
            </p>
          </div>
        </div>

        <ion-item class="item-stable" ng-click="toggleGroup(showInternationalExperience, 'showInternationalExperience')" ng-class="{active: showInternationalExperience}">
          <i class="icon" ng-class="showInternationalExperience ? 'ion-minus' : 'ion-plus'"></i> &nbsp; {{'international_experience_title' | translate }}
        </ion-item>
        <p class="item-accordion" ng-show="showInternationalExperience">
          <strong>{{'africa_experience' | translate }}: </strong> {{ Mechanic.international_experiences.africa | yesOrNo}} <br>
          <strong>{{'asia_experience' | translate }}: </strong> {{ Mechanic.international_experiences.asia | yesOrNo}} <br>
          <strong>{{'australia_experience' | translate }}: </strong> {{ Mechanic.international_experiences.australia | yesOrNo}} <br>
          <strong>{{'caribbean_experience' | translate }}: </strong> {{ Mechanic.international_experiences.caribbean | yesOrNo}} <br>
          <strong>{{'central_america_experience' | translate }}: </strong> {{ Mechanic.international_experiences.central_america | yesOrNo}} <br>
          <strong>{{'eastern_europe_experience' | translate }}: </strong> {{ Mechanic.international_experiences.eastern_europe | yesOrNo}} <br>
          <strong>{{'europe_experience' | translate }}: </strong> {{ Mechanic.international_experiences.europe | yesOrNo}} <br>
          <strong>{{'india_experience' | translate }}: </strong> {{ Mechanic.international_experiences.india | yesOrNo}} <br>
          <strong>{{'middle_east_experience' | translate }}: </strong> {{ Mechanic.international_experiences.middle_east | yesOrNo}} <br>
          <strong>{{'north_america_experience' | translate }}: </strong> {{ Mechanic.international_experiences.north_america | yesOrNo}} <br>
          <strong>{{'south_america_experience' | translate }}: </strong> {{ Mechanic.international_experiences.south_america | yesOrNo}} <br>
          <strong>{{'oceanic_experience' | translate }}: </strong> {{ Mechanic.international_experiences.oceanic_crossings | yesOrNo}} <br>
          <strong>{{'pacific_experience' | translate }}: </strong> {{ Mechanic.international_experiences.pacific_crossings | yesOrNo}} <br>
          <strong ng-show="Mechanic.international_experiences.int_additional_info !=''">{{'additional_info_label' | translate }}: </strong>          {{ Mechanic.international_experiences.int_additional_info }} <br>
        </p>

        <ion-item class="item-stable" ng-click="toggleGroup(showProfessionalExperience,'showProfessionalExperience')" ng-class="{active: showProfessionalExperience}">
          <i class="icon" ng-class="showProfessionalExperience ? 'ion-minus' : 'ion-plus'"></i> &nbsp; {{ 'professional_experience_title' | translate }}
        </ion-item>
        <div>
          <p class="item-accordion" ng-show="showProfessionalExperience">
            <strong>{{ 'training_certification_label' | translate }}: </strong> {{ Mechanic.professional_experience.training_certification }} <br>
            <strong>{{ 'issuing_country_label' | translate }}: </strong> {{ Mechanic.professional_experience.issuance_country_id | objectById:'countries' | translate }}
            <br>
            <strong>{{ 'issuing_auth_label' | translate }}: </strong> {{ Mechanic.professional_experience.issuance_authority }} <br>
            <strong>{{ 'about_me_label' | translate }}: </strong> {{ Mechanic.professional_experience.about_me }} <br>
          </p>
        </div>

        <ion-item class="item-stable" ng-click="toggleGroup(showPassports,'showPassports')" ng-class="{active: showPassports}">
          <i class="icon" ng-class="showPassports ? 'ion-minus' : 'ion-plus'"></i> &nbsp; {{ 'passport_title' | translate }}
        </ion-item>
        <div ng-repeat="passport in Mechanic.passports_attributes" ng-if="!passport._destroy">
          <p class="item-accordion" ng-show="showPassports">
            <!-- <strong>Country: </strong> {{ passport.country_id | objectById:'countries' | translate }} <br> -->
            <strong>{{'country_issue' | translate}}: </strong> {{ passport.country_of_issue_id | objectById:'countries' | translate }} <br>
            <strong>{{'date_issue_label' | translate }}: </strong> {{ passport.issued_on | date:'MM-dd-yyyy' }} <br>
            <strong>{{'expiration_date' | translate }}: </strong> {{ passport.expires_on | date:'MM-dd-yyyy' }} <br>
          </p>
        </div>

        <ion-item class="item-stable" ng-click="toggleGroup(showVisas,'showVisas')">
          <i class="icon" ng-class="showVisas ? 'ion-minus' : 'ion-plus'"></i> &nbsp; {{'visa_title' | translate }}
        </ion-item>
        <div ng-repeat="visa in Mechanic.visas_attributes" ng-if="!visa._destroy">
          <p class="item-accordion" ng-show="showVisas">
            <strong>{{'country_label' | translate }}: </strong> {{ visa.country_id | objectById:'countries' | translate }} <br>
            <strong>{{'date_issue_label' | translate }}: </strong> {{ visa.issued_on | date:'MM-dd-yyyy' }} <br>
            <strong>{{'valid_until' | translate }}: </strong> {{ visa.expires_on | date:'MM-dd-yyyy' }} <br>
            <strong>{{'additional_info_label' | translate}}: </strong> {{ visa.additional_information }} <br>
          </p>
        </div>

        <ion-item class="item-stable" ng-click="toggleGroup(showAvailability,'showAvailability')">
          <i class="icon" ng-class="showAvailability ? 'ion-minus' : 'ion-plus'"></i> &nbsp; {{'availability_title' | translate }}
        </ion-item>
        <p class="item-accordion" ng-show="showAvailability">
          <strong>{{ 'full_time_label' | translate }}: </strong> {{ Mechanic.availability.full_time | yesOrNo}} <br>
          <strong>{{ 'part_time_label' | translate }}: </strong> {{ Mechanic.availability.part_time | yesOrNo}} <br>
          <strong>{{ 'freelancer_label' | translate }}: </strong> {{ Mechanic.availability.freelancer | yesOrNo}} <br>
          <strong>{{ 'other_label' | translate }}: </strong> {{ Mechanic.availability.other | yesOrNo}} <br>
          <strong>{{'additional_info_label' | translate }}: </strong> {{ Mechanic.availability.availability_additional_info }} <br>
        </p>

        <ion-item class="item-stable" ng-click="toggleGroup(showUnavailableDays, 'showUnavailableDays')" ng-class="{active: showUnavailableDays}">
          <i class="icon" ng-class="showUnavailableDays ? 'ion-minus' : 'ion-plus'"></i> &nbsp; {{'unavailable_days_title' | translate }}
        </ion-item>
        <div ng-repeat="unavailable_day in datesRanges">
        <p class="item-accordion" ng-show="showUnavailableDays">
          <strong>{{'from_label' | translate }}: </strong> {{ unavailable_day.from | date:'MMMM dd, yyyy' }} <br>
          <strong>{{'to_label' | translate }}: </strong> {{ unavailable_day.to | date:'MMMM dd, yyyy' }} <br>
        </p>
        </div>

      </ion-list>


      <button ng-show="!showCancelEdit" ng-click="submit()" class="button icon-left ion-edit button-block button-positive" translate="finish_registration_label"></button>
      <button ng-show="showCancelEdit" ng-click="submit()" class="button icon-left ion-edit button-block button-positive" translate="edit_profile_label"></button>
    </div>
  </ion-content>
</ion-view>
