<ion-view name="pilot-index-view" view-title="Sylphair Aviation">

  <ion-nav-bar class="bar-dark-light">
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <a data-tap-disabled="true" class="ion-ios-help-outline sizing-1 button button-icon icon positive"></a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content padding="true">
    <div class="pilot-profile">

      <div class="item-avatar">
        <img src="img/default-user-image.png">
      </div>

      <div class="row top-margin">
        <div class="center">
          <h2><a href="#/app-aom/aom-home">Hi, Carmela</a></h1>
        </div>
      </div>
      <!-- <button class="button text-left icon-left ion-plane button-block button-positive">
        <span>Search Pilots</span>
      </button> -->
      <a class="button full-width text-left icon-left ion-plane button-block button-positive" href="#/app-pilot/aom-pilot-search-view">
        <span>Search pilots</span>
      </a>
      <button class="button text-left icon-left ion-briefcase button-block button-positive">
        <span>Post a Job</span>
      </button>
    </div>
  </ion-content>
</ion-view>
